<!doctype html>
<html lang="en">
{{partial "head" . }}

<body class="{{ .Params.class | default "profile-page" }} sidebar-collapse" data-theme="light">
  <a class="btn-scroll-top hide" id="js-top">
    <i class="fa fa-arrow-up text-white"></i>
  </a>
  {{ partial "nav" . }}

  <div class="{{ .Params.wrapper | default "wrapper" }}">

    <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}"
      filter-color="{{ .Param "tint" | default "primary" }}">
      <div class="page-header-image" data-parallax="true" {{ if .Params.profileBackground }} test="true"
        style="background-image: url('{{ path.Join ("/img") (.Params.profileBackground) }}');">
        <div id="particles-js"></div>
      </div>
      {{ else }}
      style="background-image: url('{{ "/img/header.jpg" }}');">
    <div id="particles-js"></div>
    </div>
    {{ end }}
    {{ block "title" . }}
    {{ end }}
    <!-- <canvas class="particle-effects"></canvas> -->
  </div>
  <div class="{{ .Params.section | default "section" }}">
    <div class="container-fluid">

      {{ block "body" . }}
      {{ end }}

    </div>
  </div>
  {{ partial "footer" . }}
  </div>
</body>
{{partial "javascript" . }}

</html>