{{ define "title" }}
<div class="container">
  <div class="content-center">
    <div class="text-center">
      <div class="container">
        <div class="content-center">
          <div class="photo-container">
            <a href="/img/{{ lower .Params.firstName }}/{{ .Params.profileImg }}" target="_blank">
              <div class="overlay-container rounded-circle">
              </div>
            </a>
            <img src="/img/{{ lower .Params.firstName }}/{{ .Params.profileImg }}" alt="">
          </div>
          <h3 class="title">{{ .Params.firstName }} {{ .Params.lastName }}</h3>
          <p class="category">{{ .Params.job }}</p>
          <p class="category text-secondary">{{ .Params.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "body" }}

<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="button-container">
      {{ if isset .Params "cv" }}
      <a href="/other/{{ lower .Params.firstName }}/{{ .Params.cv }}" class="btn btn-primary btn-round btn-lg"
        target="_blank" rel="tooltip" title="Download CV">
        <i class="fa fa-download"></i>
      </a>
      {{ end }}
      {{ range .Params.social }}
      <a href="{{ .link }}" class="btn btn-default btn-round btn-lg btn-icon" target="_blank" rel="tooltip"
        title="{{ .name }}">
        <i class="{{ .icon }}"></i>
      </a>
      {{ end }}
    </div>
  </div>
</div>

<!--About me-->
<div class="section">
  <h3 class="title">About</h3>
  <h5 class="description font-weight-light">{{ .Params.about }}</h5>
<div class="separator separator-primary"></div>
</div>

<!--Work experience-->
{{ if isset .Params "experience" }}
<div class="section">
  <h3 class="title">Work Experience</h3>
  <!-- Tab panes -->
  {{ range .Params.experience }}
  <div class="col-lg-7 col-md-10 col-sm-12 ml-auto mr-auto">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title text-black">{{ .company }}</h5>
        <small class="text-secondary">{{ .position }} | {{ .date }}</small>
        <p class="card-description">{{ .description }}</p>
        {{ if isset . "link" }}
        <a href="{{ .link }}" class="btn btn-primary" target="_blank">Discover more</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}

<!--Languages and Frameworks-->
<div class="section text-center">
  <h3 class="title">Languages & Frameworks</h3>
  <div class="container">
    <div class="row">

      {{ range sort .Params.skills "name" "asc" }}
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card mb-2 card-badge card-badge-primary card-skill">
          <div class="card-skill-icon card-skill-icon-primary">
            <i class="{{ .icon }}"></i>
          </div>
          <h5 class="card-title text-black">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</div>

<div class="separator separator-primary"></div>

<div class="section text-center">
  <h3 class="title">DevOps</h3>
  <div class="container">
    <div class="row">

      {{ range sort .Params.devops "name" "asc" }}
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card mb-2 card-badge card-badge-secondary">
          <div class="card-skill-icon card-skill-icon-secondary">
            <i class="{{ .icon }}"></i>
          </div>
          <h5 class="card-title text-black">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</div>

<div class="separator separator-secondary"></div>

<div class="section text-center">
  <h3 class="title">Other Skills</h3>
  <div class="container">
    <div class="row">

      {{ range sort .Params.other "name" "asc" }}
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card mb-2 card-badge card-badge-tertiary card-skill">
          <div class="card-skill-icon card-skill-icon-tertiary">
            <i class="{{ .icon }}"></i>
          </div>
          <h5 class="card-title text-black">{{ title .name }}</h5>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</div>

<div class="separator separator-tertiary"></div>

<!--Education-->
<div class="section">
  <h3 class="title">Education & Accomplishments</h3>
  <div class="container">
    <div class="row">
      {{ $name := lower .Params.firstName }}
      {{ range .Params.education }}
      <div class="col-lg-6 col-md-6 mb-4 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-black">
              {{ .title }}
            </h4>
            <small class="text-secondary">{{ .institution }} | {{ .date }}</small>
            <p class="card-description">{{ .description }}</p>
            {{ if isset . "link" }}
            <a href="/other/{{ $name }}/{{ .link }}" class="btn btn-primary" target="_blank">See Certificate</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

<!--Projects-->
<div class="section">
  <h3 class="title">Projects</h3>
  <div class="container">
    {{ if lt (len .Params.projects) 3 }}
    <div class="row justify-content-center">
      {{ else }}
      <div class="row">
        {{ end }}
        {{ $name := lower .Params.firstName }}
        {{ range .Params.projects }}
        <div class="col-lg-4 col-md-8 col-sm-10 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top" src="/img/{{ .image }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-black">{{ .title }}</h4>
              <small class="text-secondary">{{ .role }} | {{ .date }}</small>
              <p class="card-description">{{ .description }}</p>
              {{ if isset . "link" }}
              <a href="{{ .link }}" class="btn btn-primary" target="_blank">Discover more</a>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  {{ end }}