@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f5mg2s');
  src:  url('fonts/icomoon.eot?f5mg2s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f5mg2s') format('truetype'),
    url('fonts/icomoon.woff?f5mg2s') format('woff'),
    url('fonts/icomoon.svg?f5mg2s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hugo:before {
  content: "\e906";
}
.icon-tensorflow:before {
  content: "\e908";
}
.icon-kubernetes:before {
  content: "\e907";
}
.icon-c:before {
  content: "\e904";
}
.icon-xamarin:before {
  content: "\e905";
}
.icon-kotlin:before {
  content: "\e900";
}
.icon-go:before {
  content: "\e901";
}
.icon-flutter:before {
  content: "\e902";
}
.icon-spring:before {
  content: "\e903";
}
