/*!
 * Bootstrap Docs (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see https://creativecommons.org/licenses/by/3.0/.
 */

.bd-navbar {
    min-height: 4rem;
    background-color: #3f51b5;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    padding-right: .5rem;
    padding-left: .5rem;
    border-radius: 0
}

@media (max-width:991px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem
    }
    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
}

@media (min-width:768px) {
    @supports (position: sticky) {
        .bd-navbar {
            position: sticky;
            top: 0;
            z-index: 4
        }
    }
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #cdbfe3
}

.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent
}

.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 500
}

.bd-navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top
}

.bd-navbar .dropdown-menu {
    font-size: .875rem
}

.bd-navbar .dropdown-item.active {
    font-weight: 500;
    color: #212529;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .8rem;
    background-size: .75rem .75rem
}

.bd-navbar .dropdown-item.active:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ffffff' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
}

.bd-navbar .nav-item {
    position: relative
}

.bd-docs .navbar-absolute-logo {
    padding-left: 0
}

.bd-docs .bd-navbar .navbar-nav-scroll {
    overflow: visible;
    margin-top: 0
}

@media screen and (max-width:991px) {
    .bd-docs .navbar .navbar-nav .nav-item:not(: last-child) {
        margin-bottom: 0
    }
    .bd-docs .navbar .navbar-nav .nav-item:first-child {
        margin-top: 0
    }
}

.bd-example .btn {
    margin: 0
}

.bd-masthead {
    position: relative;
    padding: 3rem 15px
}

.bd-masthead h1 {
    line-height: 1
}

.bd-masthead .btn {
    width: 100%;
    padding: .8rem 2rem;
    font-size: 1.25rem;
    font-weight: 500
}

.bd-masthead .carbonad {
    margin-top: 0!important;
    margin-bottom: -3rem!important
}

@media (min-width:576px) {
    .bd-masthead {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
    .bd-masthead .carbonad {
        margin-bottom: 0!important
    }
}

@media (min-width:768px) {
    .bd-masthead h1 {
        font-size: 4rem
    }
    .bd-masthead .carbonad {
        margin-top: 3rem!important
    }
}

.bd-pretext {
    overflow: hidden;
    resize: none
}

.half-rule {
    width: 6rem;
    margin: 2.5rem 0
}

.masthead-followup .bd-clipboard {
    display: none
}

.masthead-followup .highlight {
    padding: .5rem 0;
    background-color: transparent
}

.bd-featured-sites {
    margin-right: -1px;
    margin-left: -1px
}

.bd-featured-sites .col-6 {
    padding: 1px
}

.bd-featured-sites .img-fluid {
    margin-top: 0
}

@media (min-width:768px) {
    .bd-featured-sites .col-sm-3:first-child img {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem
    }
    .bd-featured-sites .col-sm-3:last-child img {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem
    }
}

#carbonads {
    position: static;
    display: block;
    max-width: 400px;
    padding: 15px 15px 15px 160px;
    margin: 2rem 0;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    background-color: rgba(0, 0, 0, .05)
}

#carbonads a {
    color: #333;
    text-decoration: none
}

@media (min-width:576px) {
    #carbonads {
        max-width: 330px;
        border-radius: 4px
    }
}

.carbon-img {
    float: left;
    margin-left: -145px
}

.carbon-poweredby {
    display: block;
    color: #777!important
}

body.creativetim .partner.mdbootstrap,
body.mdbootstrap .partner.creativetim,
body:not(.creativetim):not(.mdbootstrap) .partner.mdbootstrap {
    display: none
}

.bd-content {
    order: 1
}

.bd-content>h2[id],
.bd-content>h3[id],
.bd-content>h4[id] {
    pointer-events: none
}

.bd-content>h2[id]>a,
.bd-content>h2[id]>div,
.bd-content>h3[id]>a,
.bd-content>h3[id]>div,
.bd-content>h4[id]>a,
.bd-content>h4[id]>div {
    pointer-events: auto
}

.bd-content>h2[id]:before,
.bd-content>h3[id]:before,
.bd-content>h4[id]:before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: ""
}

.bd-content>table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem
}

@media (max-width:991px) {
    .bd-content>table {
        display: block;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
}

.bd-content>table>tbody>tr>td,
.bd-content>table>tbody>tr>th,
.bd-content>table>tfoot>tr>td,
.bd-content>table>tfoot>tr>th,
.bd-content>table>thead>tr>td,
.bd-content>table>thead>tr>th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, .06)
}

.bd-content>table>tbody>tr>td>p:last-child,
.bd-content>table>tbody>tr>th>p:last-child,
.bd-content>table>tfoot>tr>td>p:last-child,
.bd-content>table>tfoot>tr>th>p:last-child,
.bd-content>table>thead>tr>td>p:last-child,
.bd-content>table>thead>tr>th>p:last-child {
    margin-bottom: 0
}

.bd-content>table td:first-child>code {
    white-space: nowrap
}

.bd-content>h2:not(:first-child) {
    margin-top: 3rem
}

.bd-content>h3 {
    margin-top: 1.5rem
}

.bd-content>ol li,
.bd-content>ul li {
    margin-bottom: .25rem
}

@media (min-width:992px) {
    .bd-content>ol,
    .bd-content>p,
    .bd-content>ul {
        max-width: 80%
    }
}

.bd-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300
}

@media (min-width:576px) {
    .bd-title {
        font-size: 3rem
    }
}

.bd-lead {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem
}

@media (min-width:576px) {
    .bd-lead {
        max-width: 80%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 2.2rem
    }
}

.bd-text-purple {
    color: #3f51b5
}

.bd-text-purple-bright {
    color: #6e7dd3
}

.bd-pageheader {
    padding: 2rem 15px;
    margin-bottom: 1.5rem;
    color: #cdbfe3;
    text-align: center;
    background-color: #3f51b5
}

.bd-pageheader .container {
    position: relative
}

.bd-pageheader h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff
}

.bd-pageheader p {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 300
}

@media (min-width:576px) {
    .bd-pageheader {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 3rem;
        text-align: left
    }
    .bd-pageheader .carbonad {
        margin: 2rem 0 0!important
    }
}

@media (min-width:768px) {
    .bd-pageheader h1 {
        font-size: 4rem
    }
    .bd-pageheader p {
        font-size: 1.5rem
    }
}

@media (min-width:992px) {
    .bd-pageheader h1,
    .bd-pageheader p {
        margin-right: 380px
    }
    .bd-pageheader .carbonad {
        position: absolute;
        top: 0;
        right: .75rem;
        margin: 0!important
    }
}

#skippy {
    display: block;
    padding: 1em;
    color: #fff;
    background-color: #3f51b5;
    outline: 0
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted
}

.bd-toc {
    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem
}

@supports (position:sticky) {
    .bd-toc {
        position: sticky;
        top: 4rem;
        max-height: calc(100vh - 4rem);
        overflow-y: auto
    }
}

.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee
}

.section-nav ul {
    padding-left: 1rem
}

.section-nav ul ul {
    display: none
}

.toc-entry,
.toc-entry a {
    display: block
}

.toc-entry a {
    padding: .125rem 1.5rem;
    color: #99979c
}

.toc-entry a:hover {
    color: #2196f3;
    text-decoration: none
}

.bd-sidebar {
    order: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

@media (min-width:768px) {
    .bd-sidebar {
        border-right: 1px solid rgba(0, 0, 0, .1)
    }
    @supports (position:sticky) {
        .bd-sidebar {
            position: sticky;
            top: 4rem;
            z-index: 3;
            max-height: calc(100vh - 4rem)
        }
    }
}

@media (min-width:1200px) {
    .bd-sidebar {
        max-width: 320px
    }
}

.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:768px) {
    @supports (position: sticky) {
        .bd-links {
            max-height: calc(100vh - 4rem);
            overflow-y: auto
        }
    }
}

.bd-links {
    display: block!important
}

.bd-search {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.bd-search-docs-toggle {
    line-height: 1;
    color: #212529
}

.bd-sidenav {
    display: none
}

.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .65)
}

.bd-toc-link:hover {
    color: rgba(0, 0, 0, .85);
    text-decoration: none
}

.bd-toc-item.active {
    margin-bottom: 1rem
}

.bd-toc-item.active:not(:first-child) {
    margin-top: 1rem
}

.bd-toc-item.active>.bd-toc-link {
    color: rgba(0, 0, 0, .85)
}

.bd-toc-item.active>.bd-toc-link:hover {
    background-color: transparent
}

.bd-toc-item.active>.bd-sidenav {
    display: block
}

.bd-sidebar .nav>li>a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
    color: rgba(0, 0, 0, .65)
}

.bd-sidebar .nav>li>a:hover {
    color: rgba(0, 0, 0, .85);
    text-decoration: none;
    background-color: transparent
}

.bd-sidebar .nav>.active:hover>a,
.bd-sidebar .nav>.active>a {
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
    background-color: transparent
}

.bd-footer {
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7
}

.bd-footer a {
    font-weight: 500;
    color: #495057
}

.bd-footer a:focus,
.bd-footer a:hover {
    color: #9c27b0
}

.bd-footer p {
    margin-bottom: 0
}

@media (min-width:576px) {
    .bd-footer {
        text-align: left
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem
}

.bd-footer-links li {
    display: inline-block
}

.bd-footer-links li+li {
    margin-left: 1rem
}

.bd-example-row .row+.row {
    margin-top: 1rem
}

.bd-example-row .row>.col,
.bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2)
}

.bd-example-row .flex-items-bottom,
.bd-example-row .flex-items-middle,
.bd-example-row .flex-items-top {
    min-height: 6rem;
    background-color: rgba(255, 0, 0, .1)
}

.bd-example-row-flex-cols .row {
    min-height: 10rem;
    background-color: rgba(255, 0, 0, .1)
}

.bd-highlight {
    background-color: rgba(63, 81, 181, .15);
    border: 1px solid rgba(63, 81, 181, .15)
}

.example-container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

.example-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.example-content-main {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:576px) {
    .example-content-main {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:992px) {
    .example-content-main {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

.example-content-secondary {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:576px) {
    .example-content-secondary {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:992px) {
    .example-content-secondary {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
}

.bd-example-container {
    min-width: 16rem;
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto
}

.bd-example-container-header {
    height: 3rem;
    margin-bottom: .5rem;
    background-color: #fff;
    border-radius: .25rem
}

.bd-example-container-sidebar {
    float: right;
    width: 4rem;
    height: 8rem;
    background-color: #9acffa;
    border-radius: .25rem
}

.bd-example-container-body {
    height: 8rem;
    margin-right: 4.5rem;
    background-color: #98a2db;
    border-radius: .25rem
}

.bd-example-container-fluid {
    max-width: none
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f7f7f9;
    border-width: .2rem 0 0
}

.bd-example:after {
    display: block;
    clear: both;
    content: ""
}

@media (min-width:576px) {
    .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        border-width: .2rem
    }
}

.bd-example+.clipboard+.highlight,
.bd-example+.highlight {
    margin-top: 0
}

.bd-example+p {
    margin-top: 2rem
}

.bd-example .pos-f-t {
    position: relative;
    margin: -1rem
}

@media (min-width:576px) {
    .bd-example .pos-f-t {
        margin: -1.5rem
    }
}

.bd-example>.form-control+.form-control {
    margin-top: .5rem
}

.bd-example>.alert+.alert,
.bd-example>.nav+.nav,
.bd-example>.navbar+.navbar,
.bd-example>.progress+.btn,
.bd-example>.progress+.progress {
    margin-top: 1rem
}

.bd-example>.dropdown-menu:first-child {
    position: static;
    display: block
}

.bd-example>.form-group:last-child {
    margin-bottom: 0
}

.bd-example>.close {
    float: none
}

.bd-example-type .table .type-info {
    color: #999;
    vertical-align: middle
}

.bd-example-type .table td {
    padding: 1rem 0;
    border-color: #eee
}

.bd-example-type .table tr:first-child td {
    border-top: 0
}

.bd-example-type h1,
.bd-example-type h2,
.bd-example-type h3,
.bd-example-type h4,
.bd-example-type h5,
.bd-example-type h6 {
    margin: 0
}

.bd-example-bg-classes p {
    padding: 1rem
}

.bd-example>img+img {
    margin-left: .5rem
}

.bd-example>.btn-group {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.bd-example-control-sizing input[type=text]+input[type=text],
.bd-example-control-sizing select,
.bd-example>.btn-toolbar+.btn-toolbar {
    margin-top: .5rem
}

.bd-example-form .input-group {
    margin-bottom: .5rem
}

.bd-example>textarea.form-control {
    resize: vertical
}

.bd-example>.list-group {
    max-width: 400px
}

.bd-example .fixed-top,
.bd-example .sticky-top {
    position: static;
    margin: -1rem -1rem 1rem
}

.bd-example .fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem
}

@media (min-width:576px) {
    .bd-example .fixed-top,
    .bd-example .sticky-top {
        margin: -1.5rem -1.5rem 1rem
    }
    .bd-example .fixed-bottom {
        margin: 1rem -1.5rem -1.5rem
    }
}

.bd-example .pagination {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.bd-example-modal {
    background-color: #fafafa
}

.bd-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block
}

.bd-example-modal .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto
}

.modal.show {
    z-index: 5
}

.modal.show .popover,
.modal.show .tooltip {
    z-index: 6
}

.modal-backdrop {
    z-index: 4
}

.bd-example-tabs .nav-tabs {
    margin-bottom: 1rem
}

.bd-example-tooltips {
    text-align: center
}

.bd-example-tooltips>.btn {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.bs-tooltip-bottom-docs .arrow,
.bs-tooltip-top-docs .arrow {
    left: 50%
}

.bs-tooltip-left-docs .arrow,
.bs-tooltip-right-docs .arrow {
    top: 50%
}

.bd-example-popover-static {
    padding-bottom: 1.5rem;
    background-color: #f9f9f9
}

.bd-example-popover-static .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 1.25rem
}

.bs-popover-bottom-docs .arrow,
.bs-popover-top-docs .arrow {
    left: 50%
}

.bs-popover-left-docs .arrow,
.bs-popover-right-docs .arrow {
    top: 50%
}

.tooltip-demo a {
    white-space: nowrap
}

.bd-example-tooltip-static .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1
}

.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto
}

.scrollspy-example-2 {
    position: relative;
    height: 350px;
    overflow: auto
}

.bd-example-border-utils [class^=border] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5;
    border: 1px solid
}

/* .highlight {
    padding: 1rem;
    margin: 1rem -15px;
    background-color: #f7f7f9;
    -ms-overflow-style: -ms-autohiding-scrollbar
} */

@media (min-width:576px) {
    .highlight {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0
    }
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0
}

.highlight pre code {
    font-size: inherit;
}

.table-responsive .highlight pre {
    white-space: normal
}

.bd-table th small {
    display: block;
    font-weight: 400;
    color: #999
}

.btn-bd-purple {
    font-weight: 500;
    color: #6e7dd3;
    border-color: #6e7dd3
}

.btn-bd-purple:active,
.btn-bd-purple:hover {
    color: #fff;
    background-color: #6e7dd3;
    border-color: #6e7dd3
}

.btn-bd-yellow {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484
}

.btn-bd-yellow:active,
.btn-bd-yellow:hover {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

.bd-examples .img-thumbnail {
    margin-bottom: .75rem
}

.bd-examples h4 {
    margin-bottom: .25rem
}

.bd-examples p {
    margin-bottom: 1.25rem
}

@media (max-width:480px) {
    .bd-examples {
        margin-right: -.75rem;
        margin-left: -.75rem
    }
    .bd-examples>[class^=col-] {
        padding-right: .75rem;
        padding-left: .75rem
    }
}

.bd-team {
    margin-bottom: 1.5rem
}

.bd-team .team-member {
    line-height: 2rem;
    color: #555
}

.bd-team .team-member:focus,
.bd-team .team-member:hover {
    color: #333
}

.bd-team .team-member:hover {
    text-decoration: none
}

.bd-team .github-btn {
    float: right;
    width: 180px;
    height: 1.25rem;
    margin-top: .25rem;
    border: 0
}

.bd-team img {
    float: left;
    width: 2rem;
    margin-right: .5rem;
    border-radius: .25rem
}

.bd-browser-bugs td p {
    margin-bottom: 0
}

.bd-browser-bugs th:first-child {
    width: 18%
}

.bd-brand-logos {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    color: #3f51b5;
    background-color: #f9f9f9;
    border-radius: .25rem
}

.bd-brand-item {
    padding: 4rem 0;
    text-align: center
}

.bd-brand-item+.bd-brand-item {
    border-top: 1px solid #fff
}

.bd-brand-logos .inverse {
    color: #fff;
    background-color: #3f51b5
}

.bd-brand-item h1,
.bd-brand-item h3 {
    margin-top: 0;
    margin-bottom: 0
}

.bd-brand-item .bd-booticon {
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .bd-brand-item {
        display: table-cell;
        width: 1%
    }
    .bd-brand-item+.bd-brand-item {
        border-top: 0;
        border-left: 1px solid #fff
    }
    .bd-brand-item h1 {
        font-size: 4rem
    }
}

.color-swatches {
    margin: 0 -5px;
    overflow: hidden
}

.color-swatch {
    float: left;
    width: 4rem;
    height: 4rem;
    margin-right: .25rem;
    margin-left: .25rem;
    border-radius: .25rem
}

@media (min-width:768px) {
    .color-swatch {
        width: 6rem;
        height: 6rem
    }
}

.color-swatches .bd-purple {
    background-color: #3f51b5
}

.color-swatches .bd-purple-light {
    background-color: #cdbfe3
}

.color-swatches .bd-purple-lighter {
    background-color: #e5e1ea
}

.color-swatches .bd-gray {
    background-color: #f9f9f9
}

.swatch-blue {
    background-color: #2196f3;
    color: #fff
}

.swatch-indigo {
    background-color: #3f51b5;
    color: #fff
}

.swatch-purple {
    background-color: #9c27b0;
    color: #fff
}

.swatch-pink {
    background-color: #e91e63;
    color: #fff
}

.swatch-red {
    background-color: #f44336;
    color: #fff
}

.swatch-orange {
    background-color: #ff9800;
    color: #111
}

.swatch-yellow {
    background-color: #ffeb3b;
    color: #111
}

.swatch-green {
    background-color: #4caf50;
    color: #fff
}

.swatch-teal {
    background-color: #009688;
    color: #fff
}

.swatch-cyan {
    background-color: #00bcd4;
    color: #fff
}

.swatch-white {
    background-color: #fff;
    color: #111
}

.swatch-gray {
    background-color: #868e96;
    color: #fff
}

.swatch-gray-dark {
    background-color: #343a40;
    color: #fff
}

.swatch-primary {
    background-color: #2196f3;
    color: #fff
}

.swatch-secondary {
    background-color: #868e96;
    color: #fff
}

.swatch-success {
    background-color: #4caf50;
    color: #fff
}

.swatch-info {
    background-color: #00bcd4;
    color: #fff
}

.swatch-warning {
    background-color: #ffeb3b;
    color: #111
}

.swatch-danger {
    background-color: #f44336;
    color: #fff
}

.swatch-light {
    background-color: #f8f9fa;
    color: #111
}

.swatch-dark {
    background-color: #343a40;
    color: #fff
}

.swatch-100 {
    background-color: #f8f9fa;
    color: #111
}

.swatch-200 {
    background-color: #e9ecef;
    color: #111
}

.swatch-300 {
    background-color: #dee2e6;
    color: #111
}

.swatch-400 {
    background-color: #ced4da;
    color: #111
}

.swatch-500 {
    background-color: #adb5bd;
    color: #111
}

.swatch-600 {
    background-color: #868e96;
    color: #fff
}

.swatch-700 {
    background-color: #495057;
    color: #fff
}

.swatch-800 {
    background-color: #343a40;
    color: #fff
}

.swatch-900 {
    background-color: #212529;
    color: #fff
}

.bd-clipboard {
    position: relative;
    display: none;
    float: right
}

.bd-clipboard+.highlight {
    margin-top: 0
}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 2;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .25rem
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #027de7
}

@media (min-width:768px) {
    .bd-clipboard {
        display: block
    }
}

.hll {
    background-color: #ffc
}

.c {
    color: #999
}

.k {
    color: #069
}

.o {
    color: #555
}

.cm {
    color: #999
}

.cp {
    color: #099
}

.c1,
.cs {
    color: #999
}

.gd {
    background-color: #fcc;
    border: 1px solid #c00
}

.ge {
    font-style: italic
}

.gr {
    color: red
}

.gh {
    color: #030
}

.gi {
    background-color: #cfc;
    border: 1px solid #0c0
}

.go {
    color: #aaa
}

.gp {
    color: #009
}

.gu {
    color: #030
}

.gt {
    color: #9c6
}

.kc,
.kd,
.kn,
.kp,
.kr {
    color: #069
}

.kt {
    color: #078
}

.m {
    color: #f60
}

.s {
    color: #d44950
}

.na {
    color: #4f9fcf
}

.nb {
    color: #366
}

.nc {
    color: #0a8
}

.no {
    color: #360
}

.nd {
    color: #99f
}

.ni {
    color: #999
}

.ne {
    color: #c00
}

.nf {
    color: #c0f
}

.nl {
    color: #99f
}

.nn {
    color: #0cf
}

.nt {
    color: #2f6f9f
}

.nv {
    color: #033
}

.ow {
    color: #000
}

.w {
    color: #bbb
}

.mf,
.mh,
.mi,
.mo {
    color: #f60
}

.sb,
.sc,
.sd {
    color: #c30
}

.sd {
    font-style: italic
}

.s2,
.se,
.sh {
    color: #c30
}

.si {
    color: #a00
}

.sx {
    color: #c30
}

.sr {
    color: #3aa
}

.s1 {
    color: #c30
}

.ss {
    color: #fc3
}

.bp {
    color: #366
}

.vc,
.vg,
.vi {
    color: #033
}

.il {
    color: #f60
}

.css .nt+.nt,
.css .o,
.css .o+.nt {
    color: #999
}

.language-bash:before {
    color: #009;
    content: "$ ";
    user-select: none
}

.language-powershell:before {
    color: #009;
    content: "PM> ";
    user-select: none
}

.anchorjs-link {
    font-weight: 400;
    color: rgba(156, 39, 176, .5);
    transition: color .16s linear
}

.anchorjs-link:hover {
    color: #9c27b0;
    text-decoration: none
}

.algolia-autocomplete {
    display: block!important;
    flex: 1
}

.algolia-autocomplete .ds-dropdown-menu {
    width: 100%;
    min-width: 0!important;
    max-width: none!important;
    padding: .75rem 0!important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175)
}

@media (min-width:768px) {
    .algolia-autocomplete .ds-dropdown-menu {
        width: 175%
    }
}

.algolia-autocomplete .ds-dropdown-menu:before {
    display: none!important
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    padding: 0!important;
    overflow: visible!important;
    background-color: transparent!important;
    border: 0!important
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
    margin-top: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion {
    padding: 0!important;
    overflow: visible!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    padding: .125rem 1rem!important;
    margin-top: 0!important;
    font-size: .875rem!important;
    font-weight: 500!important;
    color: #6e7dd3!important;
    border-bottom: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
    float: none!important;
    padding-top: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    float: none!important;
    width: auto!important;
    padding: 0!important;
    text-align: left!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
    float: none!important;
    width: auto!important;
    padding: 0!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    display: none!important
}

.algolia-autocomplete .ds-suggestion:not(:first-child) .algolia-docsearch-suggestion--category-header {
    padding-top: .75rem!important;
    margin-top: .75rem!important;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.algolia-autocomplete .ds-suggestion .algolia-docsearch-suggestion--subcategory-column {
    display: none!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
    display: block;
    padding: .25rem 1rem!important;
    margin-bottom: 0!important;
    font-size: .875rem!important;
    font-weight: 400!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
    padding: 0 1rem .5rem!important;
    margin-top: -.25rem;
    font-size: .875rem!important;
    font-weight: 400;
    line-height: 1.25!important
}

.algolia-autocomplete .algolia-docsearch-footer {
    float: none!important;
    width: auto!important;
    height: auto!important;
    padding: .75rem 1rem 0;
    font-size: .75rem!important;
    line-height: 1!important;
    color: #767676!important;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
    display: inline!important;
    overflow: visible!important;
    color: inherit!important;
    text-indent: 0!important;
    background: none!important
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: #5f2dab;
    background-color: rgba(154, 132, 187, .12)
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    box-shadow: inset 0 -2px 0 0 rgba(95, 45, 171, .5)!important
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
    background-color: rgba(208, 189, 236, .15)!important
}

#TableOfContents {
    padding-left: 0;
    border-left: 1px solid #eee
}

#TableOfContents[data-theme="dark"] {
    color: #89bf04;
    border-left: 1px solid #89bf04;
}

#TableOfContents ul {
    padding-left: 1rem;
}

#TableOfContents ul li {
    display: block;
}

#Tableofcontents ul li a {
    display: block;
    padding: .125rem 1.5rem;
}

#Tableofcontents ul li a:hover {
    color: #2196f3;
    text-decoration: none
}
