<!doctype html>
<html lang="en">
  {{ partial "doc-head" . }}
  
	<body class="{{ .Params.class | default "posts-page" }} sidebar-collapse" data-theme="light">
  <a class="btn-scroll-top hide" id="js-top">
    <i class="fa fa-arrow-up text-white"></i>
  </a>
  {{ if .IsNode }}
    {{ partial "nav" . }}
    <div class="{{ .Params.wrapper | default "wrapper" }}">
      
        <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}" filter-color="{{ .Param "tint" | default "primary" }}">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background")  | (default "img/docs.jpg" | relURL) }}');">
      <div id="particles-js"></div>
            </div>
            {{ block "title" . }}
            {{ end }}
            
        </div>
    {{ else }}
        {{ partial "doc-nav" . }}
  {{ end }}
        <div class="{{ .Params.section | default "section" }}">
            <div class="container">
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-left">

                {{ block "body" . }}
                {{ end }}

            </div>
        </div>
        </div>
        </div>
    {{ if .IsNode }}
      {{ partial "footer" . }}
    {{ end }}
    </div>
  </body>
{{partial "javascript" . }}
</html>
