{{ define "title"}}
<div class="container">
  <div class="content-center">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="container">
  <div class="row">
    <div class="div col-md-12 ml-auto mr-auto">
      <h2 class="title text-center">What to expect?</h2>
      <h5 class="description text-center font-weight-light">
        {{ .Content }}
      </h5>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      {{ range sort .Pages "Lastmod" "desc" }}
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
        <!-- <div class="col-md-12 col-lg-6 col-xl-6 d-flex align-items-stretch"> -->
        <div class="card card-badge card-badge-secondary">
          <div class="card-body">
            <h5 class="card-title text-black">{{ .Title }}</h5>
            <p class="category">
              {{ .Date.Format "02-01-2006 15:04 MST" }}
              {{ if isset .Params "languages" }}
              {{ range .Params.languages }}
              <i class="{{ . }} card-badge-icon float-right"></i>
              {{ end }}
              {{ end }}
            </p>
            {{ if isset .Params "link" }}
            <a href="{{ .Params.link }}" class="btn btn-secondary" target="_blank">Start</a>
            {{ else }}
            <a href="{{ .RelPermalink }}" class="btn btn-secondary">Start</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}


    </div>
  </div>
</div>
{{ end }}