{{ define "body" }}
<body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">

  <div class="container-fluid">
    <div class="row flex-xl-nowrap">


      <div class="d-none d-xl-block col-xl-2 bd-toc">
        {{ .TableOfContents }}
      </div>


      <main class="col-lg-12 py-md-3 pl-md-5 bd-content" role="main">
        {{ if isset .Params "intro"}}
        <h1 class="bd-title" id="content">Introduction</h1>
        <p class="bd-lead">{{ .Params.intro }}</p>
        {{ end }}
        {{ .Content }}
      </main>
    </div>
  </div>
{{ end }}