<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "img/apple-icon.png" | relURL }}">
  <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{.Site.Title}}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/94b62dcae6.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  {{ $style := resources.Get "sass/now-ui-kit.scss" | toCSS | minify | fingerprint }}

  <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
  <link href="{{ $style.Permalink }}" rel="stylesheet">
  <link href="{{ "css/demo.css" | relURL }}" rel="stylesheet" />

  <!-- Documentation Extras -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
  <link rel="stylesheet" href="/css/docs.css">

  <style>
    .navbar-absolute-logo {
      padding-left: 45px;
    }

    .navbar-absolute-logo img {
      position: absolute;
      left: 15px;
      margin-top: -6px;
    }

    body {
      background: white;
    }
  </style>

  {{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}

</head>