<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}" rel="tooltip" title="" data-placement="bottom"
        target="_blank">
        <img src="/img/logoNav.png" alt="Enigma" width="70">
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation"
      data-nav-image="{{ "img/blurred-image-1.jpg" | relURL }}">
      <ul class="navbar-nav  ml-auto">
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
            {{ .Pre }} <span>{{ .Name }}</span>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL }}" {{ if $.IsHome }} data-target="{{ .URL }}"
              {{ end }} target="_blank">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
            {{end}}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          {{ if eq .Name "Theme" }}
          <a id="btn-theme" class="nav-link">
            {{ .Pre }}
          </a>
          {{ else }}
          <a class="nav-link" href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}" {{ end }}>
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
          {{ end }}
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->