<footer class="footer mt-5 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-team">
        <h2>Contact Us</h2>
        <p class="pr-5 text-white-50">Our mission is to promote the creation of free software under any of the open
          source licenses. We believe that this approach will help create a world with robust, reliable software which
          promotes user privacy.</p>
        <p>
          {{ range .Site.Menus.footer }}
          <a href="{{ .URL }}" class="btn btn-secondary btn-icon btn-square" target="_blank"><i class="{{ .Pre }}"></i></a>
          {{ end }}
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          {{ range .Site.Menus.main }}
          {{ if not .HasChildren }}
          {{ if not (eq .Name "Theme") }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <br>
        <a href="https://www.netlify.com" target="_blank"><img
            src="https://d33wubrfki0l68.cloudfront.net/84dd209c6542675beba1668d6602478fd10329fc/2f507/images/netlify-dark.svg"
            alt="Netlify badge"></a>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>Department of Computer Science, Information Technology Building - Level 4, University of Pretoria, Lynnwood
          Road, Hillcrest, Pretoria</p>
        <p class="mb-0"><i class="fa fa-envelope-o mr-3"></i>stacey.baror@cs.up.ac.za</p>
        <p class="mb-0"><i class="fa fa-envelope-o mr-3"></i>eunice.hammond@cs.up.ac.za</p>
        <p><i class="fa fa-envelope-o mr-3"></i>asingh@cs.up.ac.za</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p><small class="text-white-50">Designed and built by the Enigma Team with the help of <a
              href="https://gohugo.io/" target="_blank">Hugo</a> and
            <a href="https://demos.creative-tim.com/now-ui-kit/index.html" target="_blank">Now UI</a>. Code
            licensed by <a href="#" target="_blank">GPLv3</a>, website <a
              href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY
              3.0</a>.</small></p>
      </div>
    </div>
  </div>
</footer>