<!doctype html>
<html lang="en">
{{partial "head" . }}

<body class="{{ .Params.class | default "index-page" }} sidebar-collapse" data-theme="light">
  <a class="btn-scroll-top hide" id="js-top">
    <i class="fa fa-arrow-up text-white"></i>
  </a>
  {{ partial "nav" . }}

  <div class="{{ .Params.wrapper | default "wrapper" }}">

    <div class="page-header" filter-color="{{ .Param "tint" | default "primary" }}">
      <div class="page-header-image" data-parallax="true"
        style="background-image: url('{{ (.Param "background")  | (default "img/bg14.jpg" | absURL) }}');">
      <!-- <canvas class="particle-effects"></canvas> -->
      <div id="particles-js"></div>
      </div>

      {{ block "title" . }}
      {{ end }}

    </div>
    <div class="{{ .Params.section | default "section" }}">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-left">
            {{ block "body" . }}
            {{ end }}

          </div>
        </div>
        {{ partial "footer" . }}
      </div>
</body>
{{partial "javascript" . }}

</html>