{{ define "title"}}
<div class="container">
  <div class="content-center">
    <h1 class="title">{{ .Title }}</h1>
    <p class="category text-secondary">A Software Engineering Project for the University of Pretoria</p>
    {{ range .Site.Menus.footer }}
    <a href="{{ .URL }}" class="btn btn-secondary btn-icon btn-round" target="_blank"><i class="{{ .Pre }}"></i></a>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "body" }}
<h2 class="title text-center">Who are we?</h2>
<h5 class="description text-center font-weight-light">{{ .Params.about }}</h5>
</div>
</div>
<br><br>
</div>
<div class="container">
<div class="row">
<div class="col-md-8 ml-auto mr-auto">
  <h2 class="title text-center">Our Project</h2>
  <h5 class="description text-center font-weight-light">{{ .Params.project }}</h5>
</div>
</div>
</div>
<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">Meet the Team</h2>
    <div class="team">
      <div class="row justify-content-center">
        {{ $elem := where .Site.Pages "Type" "profiles"}}
        {{ $elem = sort $elem ".Params.lastName" "asc"}}
        {{ range where $elem "IsPage" true }}
        <div class="col-lg-4 col-md-6 col-sm-10 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img-top player-color"
              style="background: linear-gradient(40deg, {{ .Params.color1 }} 0%, {{ .Params.color2 }} 100%)"></div>
            <div class="avatar mx-auto">
              <a href="/img/{{ lower .Params.firstName }}/{{ .Params.profileImg }}" target="_blank">
                <div class="overlay rounded-circle">
                </div>
              </a>
              <img class="rounded-circle img-fluid img-raised avatar"
                src="/img/{{ lower .Params.firstName }}/{{ .Params.profileImg }}" alt="Thumbnail Image">
            </div>
            <div class="card-body">
              <h4 class="card-title player-title font-weight-bold">{{ .Params.firstName }} {{ .Params.lastName }}</h4>
              <p class="category text-secondary" style="font-size: small;">{{ .Params.job }}</p>
              <div class="carousel slide" data-ride="carousel" data-pause="false">
                <div class="carousel-inner player-tags" role="listbox">
                  {{ range $index, $tag := .Params.tags }}
                  <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                    <span class="badge badge-primary">{{ .name }}</span>
                  </div>
                  {{ end }}
                </div>
              </div>
              {{ range .Params.social }}
              <a href="{{ .link }}" class="btn btn-secondary btn-icon btn-round" target="_blank"><i
                  class="{{ .icon }}"></i></a>
              {{ end }}
              <br>
              <hr>
              <p class="card-description">{{ .Params.about | truncate 200 }}</p>
              <hr>
              <div class="container">
                <a href="{{ .RelPermalink }}" class="btn btn-primary">View Profile</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">Our Proficiencies</h2>
    <div class="row">
      {{ $elem := where .Site.Pages "Type" "profiles"}}
      {{ $elem = sort $elem ".Params.lastName" "asc"}}
      {{ $m := dict }}
      {{ range where $elem "IsPage" true }}
      {{ range .Params.skills }}
      {{ $temp := dict (lower .name) (dict "name" .name "icon" .icon) }}
      {{ $m = merge $m $temp }}
      {{ end }}
      {{ range .Params.devops }}
      {{ $temp := dict (lower .name) (dict "name" .name "icon" .icon) }}
      {{ $m = merge $m $temp }}
      {{ end }}
      {{ end }}
      {{ range $m }}
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card mb-2 card-badge card-badge-secondary card-skill">
          <div class="card-skill-icon card-skill-icon-secondary">
            <i class="{{ .icon }}"></i>
          </div>
          <h5 class="card-title text-black">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}