@import 'now-ui-kit/variables';

code{
    background-color: #f8f8f8;
    color: #d14;
}

.highlight {
    padding: 1rem;
    margin: 1rem -15px;
    background-color: #f8f8f8;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #f8f8f8;
    color: $black-color;
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-strong,
.hljs-tag {
    color: #000080;
    font-weight: normal;
}

.hljs-code {
    color: #66d9ef;
}

.hljs-attr{
    color: #008080;
}

.hljs-class .hljs-title {
    color: #fff;
}

.hljs-attribute,
.hljs-link,
.hljs-regexp,
.hljs-symbol {
    color: #bf79db;
}

.hljs-addition,
.hljs-built_in,
.hljs-builtin-name,
.hljs-bullet,
.hljs-emphasis,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-string,
.hljs-subst,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
    color: #d14;
}

.hljs-meta{
    color: #000080;
}

.hljs-comment,
.hljs-deletion,
.hljs-quote {
    color: #998;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-section,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-title,
.hljs-type {
    font-weight: 700;
}