.footer{
    background-color: $primary-color;
    color: #fff;

    &[data-theme="dark"]{
        background-color: $primary-color-dark;
    }

    .text-white-50{
        color: rgba(255,255,255,.5) !important;
    }

    .links{

        ul{
            list-style-type: none;
        }

        li a{
            color: white;
            transition: color .2s;

            &:hover{
                text-decoration:none;
                color:$secondary-color;
            }
        }

    }

    .about-team{

        i{
            font-size: 15px;
        }

    }

    .location{

        i{
            font-size: 15px;
        }

    }

    .copyright p{
        border-top: 1px solid rgba(255,255,255,.1);

        a{
            color: $secondary-color;
        }
    }
}