body{
    color: $black-color;
    font-size: $font-size-base;
    font-family: $sans-serif-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body[data-theme="dark"]{
    background-color: $tertiary-color-dark;

    nav{
        background-color: $primary-color-dark;
    }

    footer{
        background-color: $primary-color-dark;
    }

    .section{
        background-color: $tertiary-color-dark;
    }

    .title{
        color: $secondary-color-dark;
    }

    .card-title{
        color: $secondary-color-dark;
    }

    .card{
        background-color: $primary-color-dark;
        box-shadow: none;
    }

    .description,
    .card-description{
        color: $secondary-color-dark;
    }

    .card-badge{
        border-color: $secondary-color;
    }

    .card-badge-icon,
    .card-skill-icon{
        color: $secondary-color;
    }

    .badge{
        @include badge-color($secondary-color-dark);
    }

    .btn-primary{
        @include btn-styles($secondary-color, $secondary-states-color)
    }

    .separator{
        background-color: $secondary-color;
    }

    // Documentation page
    #TableOfContents{
        background-color: $tertiary-color-dark;
        border-color: $secondary-color;

        a{
            color: $secondary-color;
        }
    }
    
    main{
        color: $secondary-color-dark;

        a{
            color: $secondary-color;
        }

        summary{
            color: $secondary-color !important;
        }
    }

    code{
        background-color: $primary-color-dark;
        color: #f92672;
    }

    .highlight,
    .hljs{
        background-color: $primary-color-dark;
    }

    .hljs{
        color: $secondary-color-dark;
    }

    .hljs-attr{
        color: white;
    }

    .hljs-keyword,
    .hljs-literal,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-strong,
    .hljs-tag {
        color: #f92672;
    }

    .hljs-addition,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-bullet,
    .hljs-emphasis,
    .hljs-section,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-string,
    .hljs-subst,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-title,
    .hljs-type,
    .hljs-variable {
        color: $secondary-color;
    }

    .hljs-comment,
    .hljs-deletion,
    .hljs-quote {
        color: $secondary-color-dark;
    }

    .hljs-meta{
        color: #f92672;
    }

}

.main{
    position: relative;
    background: $white-color;
}

/* Animations */
.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link{
    @include transition($general-transition-time, $transition-ease);
}

//transition for dropdown caret
.dropdown-toggle:after,
.bootstrap-switch-label:before{
    @include transition($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded="true"]:after{
    @include rotate-180();
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: $white-bg;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 17px;
    }
}

.open{
    @include transform-translate-y(0);
    @include opacity(1);
    visibility: visible;
}

.separator{
    height: 2px;
    width: 44px;
    background-color: $default-color;
    margin: 20px auto;

    &.separator-primary{
        background-color: $primary-color;
    }

    &.separator-secondary{
        background-color: $secondary-color;
    }

    &.separator-tertiary{
        background-color: $tertiary-color;
    }
}
